@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Microsoft JhengHei;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/*CSS RESET END*/
/* 清除浮動 END*/
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.boxshadow {
  box-shadow: 0 2px 5px #bebebe;
}

.mainvision {
  background-image: url(../img/mainvision-1200.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.mainvision .shadow {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.65) 98%, rgba(0, 0, 0, 0.65) 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.65) 98%, rgba(0, 0, 0, 0.65) 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.65) 98%, rgba(0, 0, 0, 0.65) 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-9 */
}

@media (max-width: 578px) {
  .mainvision .shadow {
    height: 120px;
  }
}

@media (max-width: 578px) {
  .mainvision .shadow .name {
    display: none;
  }
}

.mainvision .self-info .photo-self {
  position: absolute;
  width: 180px;
  bottom: -100px;
}

@media (max-width: 578px) {
  .mainvision .self-info .photo-self {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
  }
}

.info .name {
  display: none;
}

@media (max-width: 578px) {
  .info .name {
    display: block;
    color: #dc6334;
    text-align: center;
    margin-top: 110px;
  }
}

.info .contactme {
  font-weight: blod;
}

.info .contactme h4 {
  color: #dc6334;
}

.footer a {
  display: block;
  background-image: url(../img/logo.svg);
  background-size: cover;
  width: 40px;
  height: 37px;
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;
  margin: 0 auto;
}

.footer a:hover {
  background-image: url(../img/logo-hover.svg);
}

.skill {
  text-align: center;
}

.skill h2 {
  font-weight: 600;
  color: #dc6334;
  font-size: 28px;
  text-align: center;
}

.skill h3 {
  font-weight: 600;
  color: #dc6334;
  border-bottom: 2px solid #c6da00;
  font-size: 22px;
  text-indent: 8px;
}

.skill h4 {
  color: #dc6334;
  margin-bottom: 8px;
  font-size: 18px;
  text-indent: 8px;
}

.skill p {
  font-size: 16px;
  color: #000;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 12px;
}

.skill ul {
  padding-left: 18px;
}

.skill ul li {
  font-size: 16px;
  color: #5b5b5b;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 8px;
}

.experience {
  text-align: left;
}

@media (max-width: 769px) {
  .experience {
    text-align: center;
  }
}

.experience .title {
  text-align: right;
}

@media (max-width: 769px) {
  .experience .title {
    text-align: center;
  }
}

.experience h2 {
  font-weight: 600;
  color: #dc6334;
  font-size: 28px;
  text-align: center;
}

.experience h3 {
  font-weight: 600;
  color: #dc6334;
  font-size: 22px;
}

.experience h3.sec {
  margin-top: 5px;
  font-size: 18px;
  border: none;
}

.experience h4 {
  color: #dc6334;
  margin-bottom: 8px;
  font-size: 18px;
}

@media (max-width: 769px) {
  .experience h4 {
    color: #000;
  }
}

.experience p {
  font-size: 16px;
  color: #5b5b5b;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.experience p.time,
.experience p.rank {
  font-size: 14px;
}

.experience ul li {
  font-size: 16px;
  color: #5b5b5b;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.timeline-section {
  position: relative;
}

.timeline-section:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  transform: translateX(-50%);
  background-color: #dc6334;
}

.timeline-pointer {
  position: relative;
}

.timeline-pointer::after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #c6da00;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
}

@media (max-width: 769px) {
  .timeline-section:after,
  .timeline-pointer::after {
    display: none;
  }
}

.autobiography .aboutme {
  width: 80%;
  display: block;
  font-size: 16px;
  color: #5b5b5b;
  line-height: 1.8;
  text-indent: 32px;
  margin-left: 245px;
  margin: 0 auto;
}

@media (max-width: 578px) {
  .autobiography .aboutme {
    margin: 30px auto 30px auto;
  }
}

.autobiography .aboutme h2 {
  font-weight: 600;
  color: #dc6334;
  font-size: 28px;
  text-align: center;
}

.autobiography .aboutme p {
  text-align: justify;
}

.autobiography .aboutme p a {
  display: none;
}

@media (max-width: 578px) {
  .autobiography .aboutme p a {
    display: inline;
    text-decoration: none;
    color: #c6da00;
    font-size: 14px;
  }
  .autobiography .aboutme p a :hover,
  .autobiography .aboutme p a :active {
    color: #dc6334;
  }
}

@media (max-width: 578px) {
  .autobiography .aboutme p.hide_article {
    display: none;
  }
}

.project_design_mainvision {
  background-image: url(../img/rawpixel-580223-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.box-shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow .3s;
  -webkit-transition: box-shadow .3s;
  -moz-transition: box-shadow .3s;
}

.box-shadow:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.card-footer {
  background: transparent;
}

.project_web_mainvision {
  background-image: url(../img/rawpixel-600782-unsplash.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 400px;
}

.a-decoration-none {
  text-decoration: none;
}
