.main{
    min-height :calc(100vh - (60px + 109px)); }
.custom-nav {
    background-color: #fff;
    a {
        color: $vsion-main-color;
    }
    a:hover {
        color: $vsion-secondary-color;
    }
}
.nav_active{
    border-bottom:1px solid $vsion-main-color;
}


.mainvision {
    background-image: url(../img/self-800.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    
             @media (max-width:991px) {
                height: 400px;
        }
    @media (max-width:767px) {
        height:300px;
        position: relative;
          background-position: center center;
    }
    .custom-h1-title-sm {
        display: none;
        @media (max-width:767px) { 
            display: block;
            color: white;
            position: absolute;
            bottom:35px;
            right: 25px;
            text-align: right;
        }
    }
}
.mainvision-color{
    border-top: 1px dotted $vsion-secondary-color;
    border-bottom:1px dotted $vsion-secondary-color;
}

.custom-h1-title {
    display: block;
    width:50%;
    margin: 0 auto;
    padding-top: 140px;
    color: $vsion-secondary-color;
    text-align: right;
    .h2{ font-size: 36px;}
   
    @media (max-width:767px) {
        display: none;
    }
}

.profile {
     position: relative;
    margin-bottom: 50px;
    height:10vmin;
       @media (max-width:991px) {
               margin-bottom: 100px;
        }
     @media (max-width:767px) {
             margin-bottom:50px;}
    ul {
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        .rounded-l {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
        .rounded-r {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        .rounded-l-m{
             @media (max-width:991px) {
              border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;}
        }
         .rounded-r-m{
              @media (max-width: 991px) {
             border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;}
        }
        li {box-shadow: 0px 2px 5px #bebebe;
            padding: 10px;
            text-align: center;
            .mailto {
                text-decoration: none;
                color: $vsion-secondary-color;
            }
            .mailto:hover {
                color: $vsion-main-color;
            }
            h4 {
                color: $vsion-main-color;
            }
            h5 {
                color: $vsion-secondary-color;
            }
        }
    }
}