$dark-color:#000;
$light-color:#fff;
$mid-color:#c8c8c8;
$heavy-color:#5b5b5b;
$vsion-main-color:#e65803;
$vsion-secondary-color:#18221e; 
$vsion-third-color:#eacb6f;  

$fontsize-xl:28px;
$fontsize-l:22px;
$fontsize-m:18px;
$fontsize-s:16px;
$fontsize-xs:14px;