.project_web_mainvision {
    background-image: url(../img/web-vison.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height:350px;
      @media (max-width: 578px) {
            height:280px;
        
        }
}
.text-no-decoration{
    text-decoration: none;
    display: block;
   
} 
.btn-outline-vision{
    color: vsion-secondary-color;
    background-color: transparent;
    background-image: none;
    border-color:vsion-secondary-color;
    
}
.btn-vision:hover{
    background-color: vsion-secondary-color;
    color: #000;
}
 