.project_web_mainvision {
    background-image: url(../img/web-vison.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 400px;
}
.a-decoration-none{
    text-decoration: none;
} 
